* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, .modals {
    width: 100vw;
    height: 100vh;
}
.modals {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modals-first {
    width: 40%;
    height: 80%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}
.modals-first-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.buttons-registrar:active {
    .modals-first {
        display: none;
    }
}