@font-face {
    font-family: 'Kollektif';
    src: url(../fonts/Kollektif.ttf);
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kollektif';
}
html, body, .modals {
    width: 100vw;
    height: 100vh;
}
.modals {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modals-first {
    width: 40%;
    height: 80%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}
.modals-first div {
    border: 1px solid yellowgreen;
}
.modals-first-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modals-first-content > div {
    width: 80%;
}

.first-content-exit {
    width: 100%;
    display: flex;
    justify-content: end;
}

.first-content-logotext {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8%;
}
.first-content-image {
    width: 45%;
    height: 70%;
}
.first-content-image img {
    width: 100%;
    height: 100%;
}
.first-content-labels {
    height: 15%;
}
.first-content-labels input {
    width: 100%;
    height: auto;
    border-radius: 40px;
    border: 1px solid gray;
}
.first-content-buttons {
    height: 10%;
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}
.first-content-buttons button {
    width: 40%;
    height: 100%;
    background-color: #0050f5;
    border-radius: 30px;
}
.first-content-buttons button a {
    color: white;
    text-decoration: none;
}
.first-content-footer {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 5px solid black;
    gap: 8%;
}
.footer-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 20%;
    gap: 6%;
}
.footer-images-img {
    width: 20%;
    height: 100%;
}
.footer-images-img img {
    width: 100%;
    height: 100%;
}
/* Segundo modal*/
