@font-face {
font-family: 'Kollektif';
src: url(../fonts/Kollektif.ttf);
font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kollektif';
}
html, body, main {
    width: 100vw;
    height: 100vh;
}
main {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-1 {
    width: 40%;
    height: 70%;
    background-color: white;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.modal-1 div {
    border: 1px solid greenyellow;
}
.modal-1-exit {
    width: 95%;
    display: flex;
    justify-content: end;
}
.modal-1-exit-img {
    width: 10%;
}
.modal-1-exit-img img {
    width: 100%;
}
.modal-1-logotext {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 65%;
}
.modal-1-logotext-img {
    width: 50%;
}
.modal-1-logotext-img img {
    width: 100%;
}
.modal-1-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40%;
}
.modal-1-inputs-input{
    width: 100%;
    height: 35%;
}
.modal-1-inputs input {
    width: 100%;
    height: 60%;
    border-radius: 40px;
}
.modal-1-buttons {
    display: flex;
    width: 80%;
}
.buttons {
    display: flex;
    justify-content: center;
    width: 50%;
}
.buttons button {
    color: white;
    background-color: blue;
}






























/* .modals {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modals-first {
    width: 35%;
    height: 65%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}
.modals-first div {
    border: 1px solid yellowgreen;
}
.modals-first-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modals-first-content > div {
    width: 80%;
}

.first-content-exit {
    width: 100%;
    display: flex;
    justify-content: end;
}

.first-content-logotext {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.first-content-image {
    width: 45%;
    height: 70%;
}
.first-content-image img {
    width: 100%;
    height: 100%;
}
.first-content-inputs {
    height: 40%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.first-content-inputs-1 input,.first-content-inputs-2 input {
    width: 100%;
    border-radius: 40px;
    border: 1px solid gray;
}
.first-content-buttons {
    height: 10%;
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}
.first-content-buttons button {
    width: 40%;
    height: 100%;
    background-color: #0050f5;
    border-radius: 30px;
}
.first-content-buttons button a {
    color: white;
    text-decoration: none;
}
.first-content-footer {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 5px solid black;
    gap: 8%;
}
.footer-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 20%;
    gap: 6%;
}
.footer-images-img {
    width: 20%;
    height: 100%;
}
.footer-images-img img {
    width: 100%;
    height: 100%;
}
.buttons-registrar:active {
    background-color: black;
} 
.label-1 {
    display: flex;
    flex-direction: column;
    justify-content: end;
} */


